<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.diagnostics>
    <switches>
      <add name="mySwitch" value="1" />
    </switches>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <!-- Ebp.EsriGis.GeometryWriterTraceListener: 
               Falls eine Exception vom Typ Ebp.EsriGis.GeometryException geworfen wird, 
               wird die Geometrie mit der Fehlerinformation in eine dem Geometrietyp entsprechende featureclass
               in der FileGeodatabase aus initializeData gespeichert
        <add name="geomListener" type="Ebp.EsriGis.GeometryWriterTraceListener" initializeData="ErrorGeometry.gdb" />-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>