<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Gui.Properties.Settings>
            <setting name="Laufdatum" serializeAs="String">
                <value>2007-09-15</value>
            </setting>
            <setting name="Bewilligung" serializeAs="String">
                <value>Reproduziert mit Bewilligung</value>
            </setting>
        </Gui.Properties.Settings>
    </userSettings>
</configuration>