<oscratch>
  <offset x="2685000" y="1256000" />
  <data scratch="Hardwald.xml" symbol="Symbols.xml" />
  <image name="LAS" path="B3_Hardwald 2017_DSM_LasIntensity.jpg" />
  <image name="Hangneigung" path="B3_Hardwald 2017_DTM_Hangneigung.jpg" />
  <image name="Relief 1" path="B3_Hardwald 2017_DTM_Reliefschummerung.jpg" />
  <image name="Relief 2" path="B4_Hardwald 2017_DTM_Reliefschummerung.jpg" />
</oscratch>
